<h1 aria-live="polite" aria-atomic="true">Round {{roundToEdit}}</h1>
<nav class="nav-buttons">
    <ul class="list-unstyled list-inline nav-buttons">
        <li class="list-inline-item"><a class="btn btn-secondary" routerLink="/game-history">View Scoring History</a></li>
        <li class="list-inline-item"><a class="btn btn-secondary" routerLink="/game-setup">Manage Players</a></li>
    </ul>
</nav>
<section class="score-card">
    <h2>Score Card</h2>
    <form #scoringForm="ngForm" (ngSubmit)="onSubmit()">
        <ul class="container-fluid">
            <li *ngFor="let player of players" class="row player-row">
                <dl class="col">
                    <div class="row justify-content-between h-100 align-content-center">
                        <dt class="col">{{player.name}}</dt>
                        <dd class="col-auto">{{getAccumulativeScoreById(scoreHistory, player.id, roundToEdit)}}</dd>
                    </div>
                </dl>
                <div class="col-auto" role="group" aria-label="points this round">
                    <div class="row">
                        <div class="col-auto pr-0">
                            <app-add-sub-toggle
                                [id]="player.id.toString()"
                                [btnClass]="'btn btn-secondary'"
                                [currOperation]="playerOperations['operation-' + player.id]"
                                (toggleAddSub)="updatePlayerOperations(player.id.toString(), $event)"
                            ></app-add-sub-toggle>
                        </div>
                        <div class="col-auto">
                            <app-floating-label-input [inputValue]="inputRef.value">
                                <label for="points-{{player.id}}">Points</label>
                                <input
                                    #inputRef
                                    appFloatingLabelInput
                                    type="number"
                                    [(ngModel)]="playerPoints[player.id]"
                                    id="points-{{player.id}}"
                                    name="points-{{player.id}}"
                                    min="0"
                                    required
                                >
                            </app-floating-label-input>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.col -->
            </li><!-- /.row -->
        </ul>
        <div>
            <button type="submit" class="btn btn-block btn-primary" [disabled]="!scoringForm.form.valid">Submit Round</button>
        </div>
    </form>
</section>