<h1>Round {{roundToEdit}}</h1>
<nav class="nav-buttons">
    <ul>
        <li><a routerLink="/game-history">View Scoring History</a></li>
        <li><a routerLink="/game-setup">Manage Players</a></li>
    </ul>
</nav>
<h2>Score Card</h2>
<form #scoringForm="ngForm" (ngSubmit)="onSubmit()">
    <ul>
        <li *ngFor="let player of players">
            <dl>
                <div>
                    <dt>{{player.name}}</dt>
                    <dd>{{getAccumulativeScoreById(scoreHistory, player.id, roundToEdit)}}</dd>
                </div>
            </dl>
            <div>
                <div>
                    <input
                        type="hidden"
                        [(ngModel)]="playerOperations['operation-' + player.id]"
                        name="operation-{{player.id}}"
                    >
                    <button
                        type="button"
                        id="add-sub-{{player.id}}"
                        class="add-sub-btn"
                        aria-describedby="add-sub-toggle-desc"
                        [attr.aria-pressed]="playerOperations['operation-' + player.id] == 'subtract'"
                        (click)="onAddSubPressed(player.id)"
                    >
                        <span class="add" aria-label="Add">+</span>
                        <span class="subtract" aria-label="Subtract">-</span>
                    </button>
                    <span id="add-sub-toggle-desc" class="visually-hidden">Click to toggle between add and subtract.</span>
                </div>
                <div>
                    <label for="points-{{player.id}}"></label>
                    <input
                        type="number"
                        [(ngModel)]="playerPoints[player.id]"
                        id="points-{{player.id}}"
                        name="points-{{player.id}}"
                        min="0"
                        required
                    >
                </div>
            </div>
        </li>
    </ul>
    <div><button type="submit" [disabled]="!scoringForm.form.valid">Submit Round</button></div>
</form>