.player-list li {
    position: relative;
}
.player-list .btn-delete {
    position: absolute;
    top:0.3125rem;
    right: 0.3125rem;
}
.btn-delete {
    padding:.6875rem;
    background-color:#24292e;
    border-color: rgba(255,255,255,0.25);
    color:#fff;
    box-shadow: 0 4px 0 0 rgba(0,0,0,0.25);
}
.btn-delete:hover {
    background-color: #494d51;
    border-color: #fff;
    color:#fff;
}
.btn-delete:focus {
    background-color: #494d51;
    border-color: #fff;
    color:#fff;
    box-shadow: 0 0 0 .1875rem rgba(255,255,255,0.3) !important;
}
.btn-delete svg {
    fill: #fff;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}