<h1>Who's Playing?</h1>
<form #playerForm="ngForm" (ngSubmit)="startNewGame()">
    <ul>
        <li *ngFor="let player of players">
            <label for="name-{{player.id}}">Player Name</label>
            <input
                type="text"
                [(ngModel)]="player.name"
                id="name-{{player.id}}"
                name="name-{{player.id}}"
                (blur)="onBlur()"
                required
            >
            <button
                *ngIf="players.length > 1"
                type="button"
                (click)="deletePlayer(player.id)"
                data-id="{{ player.id }}"
            > Delete Player </button>
        </li>
    </ul>
    <button type="button" (click)="addPlayer()">Add Player</button>
    <button
        *ngIf="roundToEdit === 1; else elseBlock"
        type="submit"
        [disabled]="!playerForm.form.valid"
    >Start Game</button>
    <ng-template #elseBlock>
        <button
            type="button"
            (click)="continueGame()"
            [disabled]="!playerForm.form.valid"
        >Continue Game</button>
        <button
            type="submit"
            [disabled]="!playerForm.form.valid"
        >Start New Game</button>
    </ng-template>
</form>
