<h1>Edit Round {{roundToEdit}}</h1>
<form #editRoundForm="ngForm" (ngSubmit)="onSubmit()">
    <ul class="container-fluid">
        <li *ngFor="let player of players" class="row player-row align-items-center">
            <div class="col">{{player.name}}</div>
            <div class="col-auto pr-0">
                <app-add-sub-toggle
                    [id]="player.id.toString()"
                    [btnClass]="'btn btn-secondary'"
                    [currOperation]="playerOperations['operation-' + player.id]"
                    (toggleAddSub)="updatePlayerOperations(player.id.toString(), $event)"
                ></app-add-sub-toggle>
            </div>
            <div class="col-auto">
                <app-floating-label-input [inputValue]="inputRef.value">
                    <label for="points-{{player.id}}">Points</label>
                    <input
                        #inputRef
                        #pointsInput="ngModel"
                        appFloatingLabelInput
                        type="number"
                        [(ngModel)]="playerPointsPositive[player.id]"
                        id="points-{{player.id}}"
                        name="points-{{player.id}}"
                        min="0"
                        required
                    >
                    <div class="error-message" *ngIf="pointsInput.touched && !pointsInput.valid">Points required</div>
                </app-floating-label-input>
            </div>
        </li>
    </ul>
    <nav class="nav-buttons">
        <ul class="list-unstyled list-inline nav-buttons">
            <li class="list-inline-item">
                <a class="btn btn-secondary" routerLink="/game-history">Cancel</a>
            </li>
            <li class="list-inline-item">
                <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!editRoundForm.form.valid"
                >Update</button>
            </li>
        </ul>
    </nav>
</form>