.add-sub-btn {
  padding: 0.6875rem;
  border-radius: 1.8125rem / 50%;
}
.add-sub-btn span {
  min-width: 1.5rem;
  font-size: 1.625rem;
  line-height: 2.125rem;
  margin-left:5px;
  margin-right:5px;
}

.add-sub-btn[aria-pressed='false'] .add,
.add-sub-btn[aria-pressed='true'] .subtract {
  display: inline-block;
}
.add-sub-btn[aria-pressed='false'] .subtract,
.add-sub-btn[aria-pressed='true'] .add {
  display: none;
}